<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="navbar">
        <h1>File Uploader app</h1>

        <div class="links">
            <h2>
                <%= user.username %>
            </h2>
            <h3>
                <a href="/log-out">LOG OUT</a>
            </h3>
            <h3>
                <a href="/">Home</a>
            </h3>
        </div>

    </div>

    <div class="createFolder">
        <form action="/createFolder" method="POST">
            <label for="myfolder">Create:</label>
            <input type="text" id="myfolder" maxlength="50" name="myfolder">
            <input type="submit">
        </form>
    </div>
</body>

</html>