<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h1>
        <%= files.fileName %>
    </h1>
    <ul>
        <li>
            <strong>Size:</strong>
            <%= files.fileSize %>
        </li>
        <li>
            <strong>Uploaded at:</strong>
            <%= files.fileUploadTime %>
        </li>
    </ul>
</body>

</html>