body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
    background-color: rgb(47, 46, 46);
}

/* navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    background-color: silver;


    * {
        margin: 12px;
        color: black;
    }
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}

/* navbar*/

/*content*/
ul {
    align-self: center;
    justify-self: center;
    background-color: red;
    padding: 10px;

    * {
        list-style-type: none;
        color: rgb(34, 34, 34);
        font-size: 20px;
        font-weight: bold;
    }
}



#update {

    margin-right: 5px;

}

ul>li>form {
    display: flex;
    align-items: center;
    flex-direction: row;

    * {
        margin: 12px;

    }
}

ul>li>a {
    font-size: 20px;
    font-weight: bold;
}

.updateFolder {
    align-self: center;
    justify-self: center;

}

.folders-content :not(:first-child) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;

    * {
        text-decoration: none;

    }
}

.home-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    flex-direction: column;

    * {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
    }
}

.folders-content>li>form {
    * {
        margin: 0;
    }
}

.home-content {
    width: 960px;
}

.createFolder {
    align-self: center;
    justify-self: center;
}

/*content*/

/*log-in and sign-up forms*/
.sign-up {
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    grid-row: 2/3;

}

p {
    color: black;
}

.sign-up-container {
    background-color: rgb(212, 212, 160);
}

/*log-in and sign-up forms*/